.well {
    opacity: 0.85;
}
.firstWell{
    width:50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
body { background-color:#CACECB;
       height:100%;
       padding-right:20px;
}

div.page-header{
    text-align:center;
    color:#576062;
    margin-bottom:0px;
    padding-bottom:75px;
    border-bottom-color:none;
    border-bottom-width:0px;
}
.navbar{
    border:0px;
    margin-left:0px;
    margin-bottom:0px;
}
.page-header h1{
    margin-bottom:0px;
    font-family: 'Oxygen', sans-serif;
    font-size:48px;
    letter-spacing: 15px;
}
.page-header h2{
    margin-top:0px;
    font-family: 'Pacifico', cursive;
    font-size:48px;
    font-stretch:narrower;
    
}
#theNav{
    background-color:white;
    padding-right:0px;
}
.navbar-brand{
    font:12px calibri;
    padding-top:10px;
    padding-left:10px;
    background-color:#51AC9C;
    color: white;
    border-color:none;
    margin-left:0px;
}
.navbar-brand:hover{
    color:white;
    background-color:#418b7d;
}
#brandLine1{
    margin-bottom:0px;  
}
#navList{
    position:absolute;
    left: 37%;
    border:0px;
    
}
#navListAnc{
    color:#576062;
    font:16px calibri;
}
#rightNav{
    padding-right:0px;
    background-color:#88BDD7;
}
#rightNavText{
    color:white;
    font-family:Calibri;
    padding-right:25px;
    margin-left:0px;
}
#rightNavText:hover{
    color:white;
    background-color:#66AACC;
}
.navbar-toggle{
    margin-right:0px;
    padding-right:25px;
}
#myNav{
    width:100%;
    padding:0px;
}
.navbar-header{
    background-color:white;
    margin-left:0px;
}
.icon-bar{
    background-color:#576062;
}
#mainSec{
    padding:0px;
    margin:0px;
}
.img-responsive{
    margin:0px;
    width:100%;
}
#allColumns{
    padding:0px;
    margin:0px;
    border:0px;
    vertical-align:middle;
}
.row1col1{
    background-image:url('../Images/tuscany-villas-sant-anna.jpg');
    background-size:cover;
    height:340px;
    padding:0px;
}
.row1col2{
    background-image:url('../Images/Versilia.jpg');
    background-size:cover;
    height:340px;
}
div h3{
    text-align:center;
    font-family:Calibri;
    margin:0px;
}
div p{
    text-align:center;
    font-family:Calibri;
    margin:0px;
}
div a{
    margin-left:45%;
}
.row2col1{
    background-image:url('../Images/img-thing.jpg');
    background-size:cover;
    color:#88BDD7;
    height:340px;
}
.row2col2{
    background-image:url('../Images/Villa-Rucellai-Toscani-2750-2-348x348.jpg');
    background-size:cover;
    height:340px;
}
.row2col3{
    background-image:url('../Images/Villa-Rucellai-Toscani-2812-2-348x348.jpg');
    background-size:cover;
    height:340px;
}
.row2col4{
    background-image:url('../Images/42-348x348.jpg');
    background-size:cover;
    height:340px;
}
.row3col1{
    background-image:url('../Images/Villa-Vanna-231-348x348.jpg');
    background-size:cover;
    height:340px;
}
.row3col2{
    background-image:url('../Images/img-thing.jpg');
    background-size:cover;
    height:340px;
}
.learnMore{
    margin-left:30%;
}
.row3col3{
    background-image:url('../Images/3b-348x348.jpg');
    background-size:cover;
    height:340px;
}
.row3col4{
    background-image:url('../Images/img-thing.jpg');
    background-size:cover;
    height:340px;
}
.row4col1{
    background-image:url('../Images/img-thing.jpg');
    background-size:cover;
    height:340px;
}
.row4col2{
    background-image:url('../Images/314-348x348.jpg');
    background-size:cover;
    height:340px;
}
.row4col3{
    border-style:double;
    border-width:3px;
    border-color:white;
    background-color:#51AC9C;
    background-size:cover;
    color:white;
    height:340px;
}
.row4col3 h2{
    text-align:center;
    margin:0px;
    font-family:Calibri;
    font-style:italic;
}
.readReviews{
    margin-left:25%;
}
.row4col4{
    background-color:white;
    background-image:url('../Images/img-thing.jpg');
    background-size:cover;
    height:340px;
}
.row4col4 p{
    font-weight:bold;
}
.partners{
    color:black;
    position:absolute;
    top:35%;
    left:15%;
}
footer{
    font-size:8px;
    color:#576062;
    text-align:center;
}