body { background-color:#CACECB;
}

div.page-header{
    text-align:center;
    color:#576062;
    margin-bottom:0px;
    padding-bottom:75px;
    border-bottom-color:none;
    border-bottom-width:0px;
}
.navbar{
    border-top-color:none;
}
.page-header h1{
    margin-bottom:0px;
    font-family: 'Oxygen', sans-serif;
    font-size:48px;
    letter-spacing: 15px;
}
.page-header h2{
    margin-top:0px;
    font-family: 'Pacifico', cursive;
    font-size:48px;
    font-stretch:narrower;
    
}
#theNav{
    background-color:white;
    padding-right:0px;
}
.navbar-brand{
    font:12px calibri;
    padding-top:10px;
    background-color:#51AC9C;
    color: white;
}
.navbar-brand:hover{
    color:white;
    background-color:#418b7d;
}
#brandLine1{
    margin-bottom:0px;
   
}
#navList{
    padding-right:25%;
    padding-left:35%;
}
#navListAnc{
    color:#576062;
    font:16px calibri;
}
#rightNav{
    padding-right:0px;
    background-color:#88BDD7;
}
#rightNavText{
    color:white;
    font-family:Calibri;
}
#rightNavText:hover{
    color:white;
    background-color:#66AACC;
}